<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Deam2" value="E:\\VSProject\\NormalSpace\\ShareProject\\DeamonApp\\Deamon2\\bin\\Debug\\net6.0\\Deamon2.exe"/>
		<add key="IsMaster" value="true"/>
		<add key="Target" value="notepad.exe"/>
	</appSettings>
	
</configuration>